* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    background-color: #212121;
}
/*-------------------------------------------------------
------------------------ Nav Bar ------------------------
---------------------------------------------------------*/
#nav-container {
    display: flex;
}

#nav-container,
#nav-bar {
    background-color: rgb(28, 28, 28);
    /* position: fixed; */
    width: 100%;
}

#nav-container img {
    margin-left: 253px;
    z-index: 1;
    width: 127px;
    height: 127px;
}

#nav-bar {
    margin: 0;
    padding: 0;
    text-align: right;
    text-shadow: 1px 1px 2px gray;
}

#nav-bar li {
    list-style: none;
    display: inline;
}

#nav-bar li a {
    padding: 50px 110px;
    /* tamanho da pagina  --  distancia dos <a> */
    text-decoration: none;
    /* tirar o underline */
    color: rgb(160, 160, 160);
    display: inline-block;
    margin-right: -3px;
    font-size: 20px;
    letter-spacing: 0.60;
}

#nav-bar li a:hover {
    color: white;
}


/*-------------------------------------------------------
---------------------- Main Texts -----------------------
---------------------------------------------------------*/
#container-principal {
    display: flex;
    margin-top: 200px;
}

#lnx-text,
#lnx-foto {
    flex: 1 1 0;
    width: 50%;
}

#lnx-text h1 {
    text-align: center;
    color: #e9e9e9;
    text-shadow: 3px 3px 5px gray;
    font-family: cursive;
    position: relative;
    font-size: 80px;
    font-weight: 600;
}

#lnx-text p {
    color: #e9e9e9;
    text-shadow: 1px 1px 3px gray;
    font-family: cursive;
    font-size: 25px;
    margin-left: 283px;
    text-align: left;
}

#lnx-text a button {
    border: 2px solid rgb(0, 0, 0);
    color: black;
    margin-top: 25px;
    margin-left: 283px;
    justify-content: left;
    width: 150px;
    height: 60px;
    border-radius: 50px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

#lnx-foto {
    display: flex;
    justify-content: center;
}

#lnx-foto img {
    margin-left: -240px;
    margin-top: -70px;
    width: 500px;
    height: 500px;
}

/*-------------------------------------------------------
---------------------- QUEM SOMOS -----------------------
---------------------------------------------------------*/

#quem-somos-container {
    display: flex;
    margin-top: 200px;
}

#quem-somos-text,
#quem-somos-foto {
    margin-top: 200px;
    flex: 1 1 0;
    width: 50%;
}

#quem-somos-text h1{
    color: rgb(184, 0, 184);
    text-shadow: 3px 3px 5px purple;
    margin-left: 300px;
    font-size: 40px;
}
#quem-somos-text p{
    font-size: 20px;
    margin-left: 283px;
    color: white;
}